/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 avr. 2018, 14:58:10
    Author     : Ndozeng junior
*/
/*header*/
.center{ text-align: center;}
.yellow{ color: violet;}
.black{ color: black;}
/*body*/
.panel-title{ text-align: center;}
.group-box{ margin-left: 450px; align-content: center;}
/*footer*/
.user-signup-link{ margin-left: 170px;}
